* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.2s linear;
}
body{
  background-color: #ffffff;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  
}
.logo{
  position: relative;
  font-size:25px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
.navbar a{
  display: inline-block;
  font-size: 25px;
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  margin-left: 35px;
  transition: .3s;
  opacity: 0;
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.2s* var(--i));
}
.navbar a:hover {
  color: crimson;
  
}

.home{
  position: relative;
  width:100%;
  justify-content: space-between;
  height: 100vh;
  background: url() no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
.home-content{
  max-width:600px;

}
.home-content h3{
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .5s;
}
.home-content h3:nth-of-type(2){
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: .5s;


}
.home-content h3 span{
  color: crimson;
}
.home-content h1{
  font-size: 56px;
  font-weight: 700px;
  margin:-3px 0 ;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content p{
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}


.home-social a{
  display: inline-flex;
  justify-content:center;
  align-items: center;
  width:40px;
  height: 40px;
  background: transparent;
  border: 3px solid crimson;
  border-radius: 40%;
  font-size: large;
  color: crimson;
  text-decoration: none;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.3s*var(--i));
  margin: 30px 15px 30px 0; 
}
.home-social a:hover{
  background: crimson;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 20px crimson;
}
.me-btn{
  display:inline-block;
  padding: 12px 28px;
  background: crimson;
  border-radius: 40px;
  font-size: 16px;
  color: #000;
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: 600;
}
.me-btn:hover{
  box-shadow: 0 0 5px crimson,
  0 0 25px crimson,
  0 0 50px crimson,
  0 0 100px crimson,0 0 200px crimson
}

@keyframes slideRight{
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }

}
@keyframes slideTop{
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }

}
@keyframes slideBottom{
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }

}
@keyframes slideLeft{
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }

}
