body {
  margin: 0;
  font-family: "Martel", serif;
  font-style: normal;
  font-weight: normal;
  background-color: #DCF2F1;
  transition: background-color 0.3s ease; /* Added transition for smooth color change */
}


header {
  color:#0e2b6a ;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  justify-content:space-between;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 40px;
  
}

nav ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #0e2b6a;
  margin-right: 1.2rem;
  
  
}

@media (max-width: 768px) {
  header {
      flex-direction: column;
      align-items: flex-start;
  }

  .logo {
      margin-bottom: 10px;
  }

  nav {
      margin-bottom: 10px;
  }
}
.home .container {
  padding: 60px 30px;
  display: flex;
  justify-content: space-between;
}


.home .container .image {
  flex-basis: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 16rem 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgb(195, 193, 193);
}

.home .container .home-content {
  flex-basis: 40%;
}

.home .container .home-content h1 {
  font-size: 4rem;
  color: var(--font-heading);
  padding: 1rem 0;
}

.about .container .home-content h3 {
  color: var(--black);
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1rem 0;
}

.about .container .home-content p {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--black);
  line-height: 1.5;
}




/* body {
  background: #ffffff;
  font-family: "Martel", serif;
  font-style: normal;
  font-weight: normal;
  color: #0e2b6a;
}
.header {
  
  height: 10vh;
  
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

.logo {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color:#0e2b6a;
}

nav .links a {
  text-decoration: none;
  color: #0e2b6a;
  font-size: 1.3rem;
  margin-right: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  position: relative;
}

nav .links a:after {
  content: '';
  width: 0%;
  height: 2px;
  background:#0e2b6a;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s;
}

nav .links a:hover::after {
  width: 100%;
}

nav #menu-btn,
nav #close {
  color: #0e2b6a;
  font-size: 2.5rem;
  cursor: pointer;
  display: none;
}

.about{
  padding: 20px;
  height: 80vh;
  background-color: aquamarine;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

}
.about .div1 { 
  padding: 20px;
  width: 600px;
  height: 70vh;
  grid-area: 1 / 1 / 2 / 2;
  background-color: aqua;

}
.about .div2 { 
  height: 40vh;
  grid-area: 1 / 2 / 2 / 3;
  background-color: bisque;

} */
