.contact {
	/* Bootstrap variables */
	--bs-body-color: #28303b;
	--bs-body-bg: rgb(255, 255, 255);

	/* Easy Frontend variables */
	--ezy-theme-color: rgb(13, 110, 253);
	--ezy-theme-color-rgb: rgb(13, 110, 253);
	--ezy-form-card-bg: rgb(244, 247, 253);
	--ezy-form-card-shadow: none;
	--ezy-link-bg: rgb(244, 247, 253);
	--ezy-link-hover-shadow: 0 16px 24px 0 rgba(197, 206, 222, .25);

	background-color: var(--bs-body-bg);
}

/* Dark Block Style */
.dark .contact,
.contact.dark {
	/* Bootstrap variables */
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(11, 23, 39);

	/* Easy Frontend variables */
	--ezy-form-card-bg: #162231;
	--ezy-form-card-shadow: none;
	--ezy-link-bg: #162231;
	--ezy-link-hover-shadow: 0 16px 24px 0 rgba(44, 44, 44, .25);
}

.contact-title {
	font-weight: bold;
	font-size: 45px;
	line-height: 25px;
	color: var(--bs-body-color);
}

.contact-heading {
	font-weight: bold;
	font-size: 45px;
	line-height: 25px;
	color: var(--bs-body-color);
}

.contact-sub-heading {
	font-size: 18px;
	line-height: 25px;
	color: var(--bs-body-color);
}

.card-body {
	background-color: var(--ezy-form-card-bg);
	box-shadow: var(--ezy-form-card-shadow);
	border-radius: 10px;
}

.contact .form-control {
    min-height: 48px;
    line-height: 40px;
    border-color: transparent;
    background: var(--bs-body-color);
    border-radius: 10px;
    color: var(--bs-body-color);
}

.contact-btn {
    padding: 12px 30px;
    color: #ffffff;
    background-color: var(--ezy-theme-color);
    border-color: var(--ezy-theme-color);
}

.contact-btn:hover {
    background-color: rgba(var(--ezy-theme-color-rgb), .9);
    border-color: rgba(var(--ezy-theme-color-rgb), .9);
    color: #ffffff;
}

.contact-link {
    background-color: var(--ezy-link-bg);
    border: none;
    border-radius: 10px;
    width: 100%;
    transition: box-shadow .15s ease-in-out;
}

.contact-icon,
.contact-link .contact-link-content {
    color: var(--bs-body-color);
}

.contact-link.active,
.contact-link:hover {
    box-shadow: var(--ezy-link-hover-shadow);
}

.contact-link-content {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}