.ezy__footer1 {
    /* Bootstrap variables */
    --bs-body-color: #28303b;
    --bs-body-bg: rgb(255, 255, 255);
    /* Easy Frontend variables */
    --ezy-theme-color: rgb(13, 110, 253);
    --ezy-theme-color-rgb: 13, 110, 253;
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    padding: 20px 0;
  }

  @media screen and (max-width: 768px) {
    .ezy__footer1 {
      height: 35vh;
    }
    
    .ezy__footer1-social {
      padding: 0;
      text-align: center;
    }
  }
  
  .dark .ezy__footer1,
  .ezy__footer1.dark {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(11, 23, 39);
  }
  
  .ezy__footer1-social li {
    list-style-type: none;
    display: inline-block;
    margin: 6px 8px;
  }
  
  .ezy__footer1-social li a {
    color: var(--bs-body-color);
    width: 35px;
    height: 35px;
    text-decoration: none;
  }
  
  .ezy__footer1-social li a:hover {
    color: var(--ezy-theme-color);
  }