body {
  font-family: 'Roboto', sans-serif;
  margin: 0; /* Remove default margin */
  overflow-x: hidden;
}


html {
  scroll-behavior: smooth;
}


section {
  padding: 60px 20px;
  scroll-margin-top: 100px; /* Adjust based on navbar height */
}

/* ----------- nav bar --------------*/

.ezy__nav1 {
  /* Bootstrap variables */
  --bs-body-color: #000;
  --bs-body-bg: rgb(255, 255, 255);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;

  background-color: var(--bs-body-bg);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Dark Block Style */
.dark .ezy__nav1,
.ezy__nav1.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);
}

.ezy__nav1 .navbar-brand {
  font-weight: 800;
  font-size: 30px;
  color: var(--bs-body-color);
}

.ezy__nav1 .navbar-toggler {
  border: none;
  box-shadow: none !important;
}

.ezy__nav1 .navbar-toggler > span {
  display: flex;
  align-items: center;
  height: 32px;
}

.ezy__nav1 .navbar-toggler > span > span {
  position: relative;
}

.ezy__nav1 .navbar-toggler > span > span,
.ezy__nav1 .navbar-toggler > span > span::before,
.ezy__nav1 .navbar-toggler > span > span::after {
  height: 2px;
  background-color: var(--bs-body-color);
  width: 25px;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.35s ease-in-out;
}

.ezy__nav1 .navbar-toggler > span > span::before,
.ezy__nav1 .navbar-toggler > span > span::after {
  content: "";
  position: absolute;
  left: 0;
}

.ezy__nav1 .navbar-toggler[aria-expanded="false"] > span > span::before {
  top: 7px;
}

.ezy__nav1 .navbar-toggler[aria-expanded="false"] > span > span::after {
  bottom: 7px;
}

.ezy__nav1 .navbar-toggler[aria-expanded="true"] > span > span {
  background-color: transparent;
}

.ezy__nav1 .navbar-toggler[aria-expanded="true"] > span > span::before {
  top: 0;
  transform: rotate(-45deg);
}

.ezy__nav1 .navbar-toggler[aria-expanded="true"] > span > span::after {
  bottom: 0;
  transform: rotate(45deg);
}

.ezy__nav1 .navbar-nav .nav-link {
  color: var(--bs-body-color);
  opacity: 0.6;
}

.ezy__nav1 .navbar-nav .nav-link:hover {
  
  transform: scale(1.05);
}

.ezy__nav1 .navbar-nav .nav-link:hover,
.ezy__nav1 .navbar-nav .nav-link:focus,
.ezy__nav1 .navbar-nav .nav-link.active {
  color: var(--bs-body-color);
  opacity: 1;
}

/* For smaller screens (below 1366px) */
@media (max-width: 1365px) {
  body, html {
     /* Hide horizontal scrollbar on smaller screens */
  }

  .ezy__nav1 {
    padding: 5px; /* Adjust padding if needed */
  }
}

/* For very small screens (below 768px, e.g., mobile) */
@media (max-width: 768px) {
  body, html { /* Hide horizontal scrollbar on mobile screens */
  }

  .ezy__nav1 {
    padding: 5px; /* Adjust padding if needed */
  }
}

/* Optional: For larger screens like 24-inch monitors */
@media (min-width: 1920px) {
  body, html { /* Ensure scrollbar is visible for large screens */
  }
}

/* ----------- home --------------*/

.home {
  /* Bootstrap variables */
  --bs-body-bg: rgb(255, 255, 255);
  --bs-body-bg-invert: rgb(246, 246, 246);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;
  --ezy-body-color-invert: rgb(246, 246, 246);

  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  position: relative;
  padding: 100px 0;
  z-index: 1;
}

/* Dark Block Style */
.dark .home,
.home.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);

  /* Easy Frontend variables */
  --ezy-body-color-invert: rgb(30, 39, 53);
}

.home-heading {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 1px;
}

.home-sub-heading {
  font-size: 17px;
  line-height: 1.8;
  opacity: 0.8;
  text-align: justify;
}

.home-btn {
  padding: 10px 30px;
  font-weight: 500;
  color: #fff;
  background-color: var(--ezy-theme-color);
  border-radius: 10px;
  border: 2px solid var(--ezy-theme-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.home-btn:hover {
  color: #fff;
  background-color: rgba(var(--ezy-theme-color-rgb), 0.9);
  border-color: rgba(var(--ezy-theme-color-rgb), 0.7);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}


.home-img {
  box-shadow: -50px 0 0 0 var(--ezy-body-color-invert);
  border-radius: 50%;
}

/* For tablet and smaller laptop screens (min-width: 768px) */
@media (min-width: 768px) {
  .home {
    padding: 100px 0; /* Adjust padding for tablets and small laptops */
  }
}

/* For 14-inch laptop screens (1366px to 1920px) */
@media (min-width: 1366px) and (max-width: 1920px) {
  body, html {
     /* Prevent horizontal scrollbar on laptop screens */
  }

  .home {
    padding: 50px 0; /* Adjust padding for 14-inch laptop screens */
  }

  .home-img {
    width: 396px; /* Set desired width for the image */
  }
}

/* For 24-inch monitors (1920px and larger) */
@media (min-width: 1920px) {
  body, html { /* Prevent horizontal scrollbar on large screens */
  }

  .home {
    padding: 158px 0; /* Adjust padding for 24-inch monitor screens */
  }

  .home-img {
    width: 396px; /* Set desired width for the image */
  }
}


/* ----------- about me --------------*/

.ezy__about17 {
  /* Bootstrap variables */
  --bs-body-color: #28303b;
  --bs-body-bg: rgb(255, 255, 255);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;
  --ezy-body-color-invert: rgb(246, 246, 246);
  --ezy-border-color: rgba(171, 171, 171, 0.6);

  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  padding: 50PX 20PX;
}

.dark .ezy__about17,
.ezy__about17.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);

  /* Easy Frontend variables */
  --ezy-body-color-invert: rgb(30, 39, 53);
}


.services {
	/* Bootstrap variables */
	--bs-body-color: #2B323C;
	--bs-body-bg: rgb(255, 255, 255);

	/* Easy Frontend variables */
	--ezy-theme-color: rgb(13, 110, 253);
	--ezy-theme-color-rgb: 13, 110, 253;
	--ezy-item-bg: #ffffff;
	--ezy-item-icon-bg: #ffffff;
	--ezy-item-shadow: 0px 8px 44px rgba(227, 238, 255, 0.48);
	--ezy-shape-color: #FFE7E7;

	background: var(--bs-body-bg);
	overflow: hidden;
	padding: 60px 0;
	position: relative;
	z-index: 1;
}

/* Dark Block Style */
.dark .services,
.services.dark {
	/* Bootstrap variables */
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(11, 23, 39);

	/* Easy Frontend variables */
	--ezy-item-bg: #162231;
	--ezy-item-icon-bg: #0B1727;
	--ezy-item-shadow: none;
}

.services-heading {
	font-weight: bold;
	font-size: 40px;
	line-height: 25px;
	color: var(--bs-body-color);
}

.services-sub-heading {
	font-size: 18px;
	line-height: 25px;
	color: var(--bs-body-color);
	opacity: .8;
}

.services-item {
	background-color: var(--ezy-item-bg);
	box-shadow: var(--ezy-item-shadow);
	border-radius: 20px;
	border: none;
}

.services-icon {
	background-color: var(--ezy-item-icon-bg);
	box-shadow: 0 4px 34px 0 rgba(255, 255, 255, 0.12);
	color: var(--ezy-theme-color);
}

.services-icon {
	width: 85px;
	height: 85px;
	border-radius: 50%;
	font-size: 32px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-top: -42px;
}

.services-title {
	color: var(--bs-body-color);
}

.services-content {
	color: var(--bs-body-color);
	opacity: .8;
}

.services-shape {
	background-color: rgba(var(--ezy-theme-color-rgb), .1);
	border-radius: 30px 0 0 30px;
	position: absolute;
	left: 50%;
	right: 0;
	bottom: 60px;
	top: 0;
	width: 100vw;
	z-index: -1;
}




.projects {
  /* Bootstrap variables */
  --bs-body-color: #373572;
  --bs-body-bg: rgb(255, 255, 255);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;
  --ezy-popup-bg-rgb: 255, 255, 255;

  background-color: var(--bs-body-bg);
  overflow: hidden;
  padding: 60px 0;
}

@media (min-width: 768px) {
  .projects {
    padding: 100px 0;
  }
}

/* Gray Block Style */
.gray .projects,
.projects.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);

  /* Easy Frontend variables */
  --ezy-popup-bg-rgb: 246, 246, 246;
}

/* Dark Gray Block Style */
.dark-gray .projects,
.projects.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);

  /* Easy Frontend variables */
  --ezy-popup-bg-rgb: 30, 39, 53;
}

/* Dark Block Style */
.dark .projects,
.projects.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);

  /* Easy Frontend variables */
  --ezy-popup-bg-rgb: 11, 23, 39;
}

.projects-heading {
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  color: var(--bs-body-color);
}

@media (min-width: 768px) {
  .projects-heading {
    font-size: 45px;
    line-height: 45px;
  }
}

.projects-sub-heading {
  font-size: 16px;
  line-height: 22px;
  color: var(--bs-body-color);
}

.projects-item {
  border-radius: 12px;
  overflow: hidden;
}

.projects-content {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 16px;
  border-radius: 12px;
  background-color: rgba(var(--ezy-popup-bg-rgb), 0.7);
  backdrop-filter: blur(4px) saturate(200%);
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.projects-content * {
  color: var(--bs-body-color);
}

.projects-item:hover .projects-content {
  transform: translateY(0);
  opacity: 1;
}

.projects-btn-filter {
  padding: 7px 20px;
  border-color: var(--ezy-theme-color);
  color: var(--ezy-theme-color);
}

.projects-btn-filter:hover,
.projects-btn-filter.active {
  background-color: var(--ezy-theme-color);
  color: #fff;
}



.ezy__numbers11 {
  /* Bootstrap variables */
  --bs-body-color: #2b323c;
  --bs-body-bg: rgb(255, 255, 255);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;

  background: var(--bs-body-bg);
  color: var(--bs-body-color);
  overflow: hidden;
  padding: 60px 0;
  z-index: 1;
}

@media (min-width: 768px) {
  .ezy__numbers11 {
    padding: 100px 0;
  }
}

/* Gray Block Style */
.gray .ezy__numbers11,
.ezy__numbers11.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);
}

/* Dark Gray Block Style */
.dark-gray .ezy__numbers11,
.ezy__numbers11.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);
}

/* Dark Block Style */
.dark .ezy__numbers11,
.ezy__numbers11.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);
}

.ezy__numbers11-heading {
  font-weight: bold;
  font-size: 25px;
  line-height: 1;
}

@media (min-width: 768px) {
  .ezy__numbers11-heading {
    font-size: 45px;
  }
}

.ezy__numbers11-card {
  background-color: transparent;
}
.ezy__numbers11 img {
  max-width: 100px;
  color: var(--ezy-theme-color);
}

.ezy__numbers11-card h5 {
  font-size: 17px;
  line-height: 1.7;
}


.ezy__testimonial10 {
  /* Bootstrap variables */
  --bs-body-color: #2b323c;
  --bs-body-bg: rgb(255, 255, 255);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;
  --ezy-item-bg: #ffffff;
  --ezy-item-icon-bg: #ffffff;
  --ezy-item-shadow: 0px 12px 54px rgba(195, 209, 235, 0.32);
  --ezy-shape-color: #179286;
  --ezy-rating-rgb: 255, 215, 0;

  background-color: var(--bs-body-bg);
  overflow: hidden;
  padding: 60px 0;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .ezy__testimonial10 {
    padding: 100px 0;
  }
}

/* Gray Block Style */
.gray .ezy__testimonial10,
.ezy__testimonial10.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);

  /* Easy Frontend variables */
  --ezy-item-bg: #f6f6f6;
  --ezy-item-icon-bg: #f6f6f6;
  --ezy-item-shadow: 0px 12px 54px rgba(212, 227, 255, 0.32);
}

/* Dark Gray Block Style */
.dark-gray .ezy__testimonial10,
.ezy__testimonial10.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);

  /* Easy Frontend variables */
  --ezy-item-bg: #293442;
  --ezy-item-icon-bg: #1e2b3d;
  --ezy-item-shadow: none;
}

/* Dark Block Style */
.dark .ezy__testimonial10,
.ezy__testimonial10.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);

  /* Easy Frontend variables */
  --ezy-item-bg: #162231;
  --ezy-item-icon-bg: #0b1727;
  --ezy-item-shadow: none;
}

.ezy__testimonial10-heading {
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  color: var(--bs-body-color);
}

@media (min-width: 768px) {
  .ezy__testimonial10-heading {
    font-size: 45px;
    line-height: 45px;
  }
}

.ezy__testimonial10-sub-heading {
  font-size: 18px;
  line-height: 25px;
  color: var(--bs-body-color);
  opacity: 0.8;
}

.ezy__testimonial10-item {
  background-color: var(--ezy-item-bg);
  box-shadow: var(--ezy-item-shadow);
  border-radius: 0;
  border: none;
}

.ezy__testimonial10-title {
  color: var(--bs-body-color);
}

.ezy__testimonial10-content {
  color: var(--bs-body-color);
  opacity: 0.8;
}

.ezy__testimonial10-rating [class*="fa-"]:not(.active),
.ezy__testimonial10-rating [class*="fa-"]:not(.active) * {
  color: rgba(var(--ezy-rating-rgb), 0.2);
}

.ezy__testimonial10-rating [class*="fa-"].active,
.ezy__testimonial10-rating [class*="fa-"].active * {
  color: rgba(var(--ezy-rating-rgb), 1);
}

.ezy__testimonial10-img {
  min-width: 100px;
  max-width: 100px;
}





.ezy__contact1 {
	/* Bootstrap variables */
	--bs-body-color: #28303b;
	--bs-body-bg: rgb(255, 255, 255);

	/* Easy Frontend variables */
	--ezy-theme-color: rgb(13, 110, 253);
	--ezy-theme-color-rgb: 13, 110, 253;
	--ezy-shape-color: #363449;

	background-color: var(--bs-body-bg);
	padding: 40px 0;
}


/* Gray Block Style */
.gray .ezy__contact1,
.ezy__contact1.gray {
	/* Bootstrap variables */
	--bs-body-bg: rgb(246, 246, 246);

	/* Easy Frontend variables */
	--ezy-shape-color: #3f3c53;
}

/* Dark Gray Block Style */
.dark-gray .ezy__contact1,
.ezy__contact1.dark-gray {
	/* Bootstrap variables */
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(30, 39, 53);

	/* Easy Frontend variables */
	--ezy-shape-color: #243141;
}

/* Dark Block Style */
.dark .ezy__contact1,
.ezy__contact1.dark {
	/* Bootstrap variables */
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(11, 23, 39);

	/* Easy Frontend variables */
	--ezy-shape-color: #162231;
}

@media (min-width: 992px) {
	.ezy__contact1 {
		padding: 60px 0;
	}
}

.ezy__contact1-heading {
	font-weight: bold;
	font-size: 25px;
	line-height: 25px;
}

@media (min-width: 768px) {
	.ezy__contact1-heading {
		font-size: 45px;
		line-height: 45px;
	}
}

.ezy__contact1-sub-heading {
	font-size: 18px;
	line-height: 25px;
	color: var(--bs-body-bg)
}

.ezy__contact1-shape {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: var(--ezy-shape-color);
	border-radius: 150px 50px 5px 30px;
	transform: rotate(180deg);
}

@media (min-width: 991px) {
	.ezy__contact1-shape {
		left: -20%;
	}
}

.ezy__contact1-banner {
	border-radius: 0 100px 5px 100px;
	position: relative;
	z-index: 2;
}

.ezy__contact1 .form-control {
	min-height: 48px;
	line-height: 48px;
	border-color: transparent;
	background: rgba(255, 255, 255, .02);
	border-radius: 10px;
	color: #fff;
}

.ezy__contact1 .form-control:focus {
	border-color: #86b7fe;
	box-shadow: none;
}

.ezy__contact1-btn {
	padding: 12px 30px;
	background-color: var(--ezy-theme-color);
	border-color: var(--ezy-theme-color);
	/* border-radius: 20px 5px 10px 0; */
	color: #ffffff;
	min-width: 120px;
}

.ezy__contact1-btn:hover {
	background-color: rgba(var(--ezy-theme-color-rgb), .9);
	border-color: rgba(var(--ezy-theme-color-rgb), .9);
	color: #ffffff;
}






.ezy__copyright5 {
  /* Bootstrap variables */
  --bs-body-color: #212529;
  --bs-body-bg: rgb(255, 255, 255);

  /* easy frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;

  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

/* Gray Block Style */
.gray .ezy__copyright5,
.ezy__copyright5.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);
}

/* Dark Gray Block Style */
.dark-gray .ezy__copyright5,
.ezy__copyright5.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);
}

/* Dark Block Style */
.dark .ezy__copyright5,
.ezy__copyright5.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);
}

.ezy__copyright5-nav .nav-link {
  color: var(--bs-body-color);
}

.ezy__copyright5-nav .nav-link:hover {
  color: var(--bs-body-color);
  opacity: .9;
}

.ezy__copyright5-social li {
  list-style-type: none;
  display: inline-block;
  margin: 6px 8px;
}

.ezy__copyright5-social li a {
  color: var(--bs-body-color);
}

.ezy__copyright5-social li a:hover {
  color: var(--ezy-theme-color);
}











