.projects {
  /* Bootstrap variables */
  --bs-body-color: #373572;
  --bs-body-bg: rgb(255, 255, 255);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;
  --ezy-popup-bg-rgb: 255, 255, 255;

  background-color: var(--bs-body-bg);
}


/* Gray Block Style */
.gray .projects,
.projects.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);

  /* Easy Frontend variables */
  --ezy-popup-bg-rgb: 246, 246, 246;
}

/* Dark Gray Block Style */
.dark-gray .projects,
.projects.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);

  /* Easy Frontend variables */
  --ezy-popup-bg-rgb: 30, 39, 53;
}

/* Dark Block Style */
.dark .projects,
.projects.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);

  /* Easy Frontend variables */
  --ezy-popup-bg-rgb: 11, 23, 39;
}

.projects-heading {
  font-weight: bold;
  font-size: 40px;
  line-height: 25px;
  color: var(--bs-body-color);
}

@media (max-width: 768px) {
  .projects-heading {
    font-size: 40px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 15px;
  }
}

.projects-item {
  border-radius: 12px;
  overflow: hidden;
}

.projects-content {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 16px;
  border-radius: 12px;
  background-color: rgba(var(--ezy-popup-bg-rgb), 0.7);
  backdrop-filter: blur(4px) saturate(200%);
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.projects-content * {
  color: var(--bs-body-color);
}

.projects-item:hover .projects-content {
  transform: translateY(0);
  opacity: 1;
}

.projects-btn-filter {
  padding: 7px 20px;
  border-color: var(--ezy-theme-color);
  color: var(--ezy-theme-color);
}

#noProjectsMessage {
  font-size: 20px;
  color: white;
}



/* Pagination styles */
.pagination__list > li {
  display: inline-block;
}

.pagination--split .pagination__list {
  width: 100%;
}
.pagination--split .pagination__list > *:first-child {
  margin-right: auto;
}
.pagination--split .pagination__list > *:last-child {
  margin-left: auto;
}

.pagination__item {
  display: inline-flex;
  height: 100%;
  align-items: center;
  padding: 8px 12px;
  white-space: nowrap;
  line-height: 1;
  border-radius: 12px;
  text-decoration: none;
  color: var(--bs-body-color);
  will-change: transform;
  transition: 0.2s;
}

.pagination__item:hover:not(.pagination__item--selected):not(.pagination__item--ellipsis) {
  background-color: rgba(var(--ezy-theme-color-rgb), 0.1);
}

.pagination__item:active {
  transform: translateY(2px);
}

.pagination__item--selected {
  background-color: var(--ezy-theme-color);
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(var(--ezy-theme-color-rgb), 0.2);
}

.pagination__item--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.pagination__jumper .form-control {
  width: 3em;
  margin-right: 8px;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

.pagination__jumper em {
  flex-shrink: 0;
  white-space: nowrap;
  color: var(--bs-body-color);
}
